
<div class="container-fluid d-flex flex-column align-items-start justify-content-center  h-100">
<form #AddPharmacyFormulaire="ngForm" >
  <div class="table-title">
    Add a pharmacy
 </div>
 <div class="row">
   <div class="col-6">
    <div class="form-group m-3">
      <label for="nomprenom">full name</label>
      <input id="nomprenom" name="nomprenom" ngModel placeholder="full name ..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="code">code</label>
      <input id="code" name="code" ngModel placeholder="code..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="gouvernorat">gouvernorat</label>
      <input id="gouvernorat" name="gouvernorat" ngModel placeholder="gouvernorat..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="region">region</label>
      <input id="region" name="region" ngModel placeholder="region..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="cp">cp</label>
      <input id="cp" name="cp" ngModel placeholder="cp..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="adresse">address</label>
      <input id="adresse" name="adresse" ngModel placeholder="address..." type="text" class="form-control" required="required">

    </div>
    <div class="form-group m-3">
      <label for="email">email</label>
      <input id="email" name="email" ngModel placeholder="email..." type="text" class="form-control" required="required">

    </div>
    <div class="form-group m-3">
      <label></label>
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="journuit" id="journuit_0" type="checkbox" required="required" class="custom-control-input" value="journuit">


          <label for="journuit_0" class="custom-control-label">work by night</label>
        </div>
      </div>
    </div>
    <br/>
    <button (click)="addPharmacy(AddPharmacyFormulaire)"
     [disabled] ="AddPharmacyFormulaire.invalid"
     name="submit"
     type="submit"
     class="btn btn-primary w-100">Submit</button>
   </div>
   <div class="col-6">
    <div class="form-group">
      <label for="path">Image Path</label>
      <input   [(ngModel)]="imageSrc" name='path' id= "path" type="text" class="form-control">


      <img class="img-thumbnail m-2" [src]="imageSrc" alt="" >
   </div>
    <div class="form-group m-3">
      <label for="tel">telephone</label>
      <input id="tel" name="tel" ngModel placeholder="telephone..." type="number" class="form-control" required="required">

    </div>
    <div class="form-group m-3">
      <label for="fax">fax</label>
      <input id="fax" name="fax" ngModel placeholder="fax..." type="number" class="form-control" required="required">

    </div>
    <div class="form-group m-3">
      <label for="hmatin">morning time</label>
      <input id="hmatin" name="hmatin" ngModel placeholder="morning time ..." type="text" required="required" class="form-control">

    </div>
    <div class="form-group m-3">
      <label for="hapresmidi">evening time</label>
      <input id="hapresmidi" name="hapresmidi" ngModel placeholder="evening time ..." type="text" class="form-control" required="required">

    </div>
    <div class="form-group m-3">
      <label for="hsoir">Night time</label>
      <input id="hsoir" name="hsoir" ngModel placeholder="night time ..." type="text" class="form-control">

    </div>

   </div>
 </div>





</form>
</div>
