form {
  padding: 2%;
  width: 100%;
  margin:1%;
  font-weight: bold;
  box-shadow: 1px 1px 7px #dfe0eb;
  border-radius: 10px;
  font-size: 20px;
}
.table-title {
  padding-bottom: 30px;

  width: 100%;
  font-weight: 700;
  font-size: 30px;
}
