

<div class="container d-flex flex-row justify-content-center align-items-center h-100">
    <form #AddFormulaire="ngForm"  >
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
            <label for="name">Name</label>
            <input 
            required
            ngModel name='name' #name="ngModel" id= "name" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" name.invalid && name.touched" > 
                <div *ngIf="  name.errors.required"  > First name required</div>
            
            </div>

         </div>
         <div class="form-group">
            <label for="laboratory">Laboratory</label>
            <input 
            required
            ngModel name='laboratory' #laboratory="ngModel" id= "laboratory" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" laboratory.invalid && laboratory.touched" > 
                <div *ngIf="  laboratory.errors.required"  >  Laboratory required</div>
            
            </div>

         </div>
         <div class="form-group">
            <label for="form">Form</label>
            <input 
            required
            ngModel name='form' #form="ngModel" id= "form" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" form.invalid && form.touched" > 
                <div *ngIf="  form.errors.required"  >  Form required</div>
            
            </div>

         </div>
         
         <div class="form-group">
             <label for="description">Description</label>
             <textarea 
             required
             ngModel name='description' #description="ngModel"  type="text" class="form-control" id="description" cols="30" rows="10" >
            <div class="alert alert-danger" *ngIf=" description.invalid && description.touched" > 
                <div *ngIf="  description.errors.required"  >  FDescriptionorm required</div>
            
            </div>
             
         
             </textarea>
         </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
            <label for="path">Image Path</label>
            <input ngModel name='path' id= "path" type="text" class="form-control">
         </div>
         
         <div class="form-group">
             <label for="publicPrice">Public Price</label>
             <input ngModel name='publicPrice' id="publicPrice" type="number" class="form-control">
         
     
         </div>

       <button
        [disabled] ="AddFormulaire.invalid" 
        class="btn btn-primary"
        (click)="addProduct(AddFormulaire)"
        >
        Submit
       </button>
      </div>
     
    </div>
</form>
  </div>