

<div class="container d-flex flex-column align-items-start justify-content-center  h-100">


    <form #AddFormulaire="ngForm"  >
      <div class="table-title">
        Add a product
     </div>
    <div class="row ">
      <div class="col-sm">
        <div class="form-group">
            <label for="name">Name</label>
            <input
            required
            ngModel name='name' #name="ngModel" id= "name" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" name.invalid && name.touched" >
                <div *ngIf="  name.errors.required"  > First name required</div>

            </div>

         </div>
         <div class="form-group">
            <label for="laboratory">Laboratory</label>
            <input
            required
            ngModel name='laboratory' #laboratory="ngModel" id= "laboratory" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" laboratory.invalid && laboratory.touched" >
                <div *ngIf="  laboratory.errors.required"  >  Laboratory required</div>

            </div>

         </div>
         <div class="form-group">
            <label for="form">Form</label>
            <input

            required
            ngModel #form="ngModel" id= "form" type="text" class="form-control" value="John">
            <div class="alert alert-danger" *ngIf=" form.invalid && form.touched" >
                <div *ngIf="  form.errors.required"  >  Form required</div>

            </div>

         </div>

         <div class="form-group">
             <label for="description">Description</label>
             <textarea
             required
             ngModel name='description' #description="ngModel"  type="text" class="form-control" id="description" cols="30" rows="10" >
            <div class="alert alert-danger" *ngIf=" description.invalid && description.touched" >
                <div *ngIf="  description.errors.required"  >  FDescriptionorm required</div>

            </div>


             </textarea>
         </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
            <label for="path">Image Path</label>
            <input   [(ngModel)]="imageSrc" name='path' id= "path" type="text" class="form-control">

            <img class="img-thumbnail m-2" [src]="imageSrc" alt="" >
         </div>

         <div class="form-group">
             <label for="publicPrice">Public Price</label>
             <input  ngModel name='publicPrice' id="publicPrice" type="number" class="form-control">


         </div>

        <div class="form-check">
          <label class="form-check-label">
            <input ng-model="template.disabled"
            ng-init="template.disabled=false" [(ngModel)]="isPromotion" type="checkbox" class="form-check-input" name="isPromotion" id="isPromotion" value="isPromotion">
            is promotion !
          </label>
        </div>
        <br/>
        <div *ngIf="isPromotion" class="form-group">
            <label for="publicPrice">New Price</label>
            <input   ngModel name='newPrice' id="newPrice" type="number" class="form-control">
        </div>
        <br/>
        <div class="form-check">
            <label class="form-check-label">
              <input ng-model="template.disabled"
              ng-init="template.disabled=false" [(ngModel)]="isBestSelling"  type="checkbox" class="form-check-input" name="isBestSelling" id="isBestSelling" value="isBestSelling">
              is best selling !
            </label>
          </div>
          <br/>

       
      </div>

    </div>

    <table class="table table-bordered table-definition mb-5">
      <thead class="table-warning ">
          <tr>
              <th></th>
              <th><div>Name</div></th>
              <th>Code</th>
              <th>E-mail address</th>
              <th>Adresse</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let myPharmacie of pharmacies" >
              <td>
                  <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"  (click)="addPharmacie(myPharmacie)"   >
                      <span class="custom-control-indicator"></span>
                  </label>
              </td>
              <td>{{myPharmacie?.nomprenom}}</td>
              <td>{{myPharmacie?.code}}</td>
              <td>{{myPharmacie?.email}}</td>
              <td>{{myPharmacie?.adresse}}</td>
          </tr>
         
      </tbody>
      
  </table>
  <div class="row" > <button class="btn btn-primary float-right col-sm">Add Pharmacy</button>
    <button
    [disabled] ="AddFormulaire.invalid"
    class="btn btn-primary"
    (click)="addProduct(AddFormulaire)"
    >
    Submit
   </button></div>
 
</form>
  </div>
