

<div class="container-fluid d-flex flex-column align-items-start justify-content-center  h-100">




    <form #AddFormulaire="ngForm"  >

      <div class="table-title">
        Add a product
     </div>
    <div class="row ">
      <div class="col-sm">

        <div class="form-group">
            <label for="name">Name</label>
            <input
            required
            ngModel name='name' #name="ngModel" id= "name" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" name.invalid && name.touched" >
                <div *ngIf="  name.errors.required"  > name required</div>

            </div>

         </div>
         <div class="form-group">
          <label for="conditioning">Conditioning</label>
          <input
          required
          ngModel name='conditioning' #conditioning="ngModel" id= "conditioning" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf=" conditioning.invalid && conditioning.touched" >
              <div *ngIf="  conditioning.errors.required"  > contre indication required</div>

          </div>
         </div>
          <div class="form-group">
            <label for="rating">enter rating from 0 - 5</label>
            <input
            required
            ngModel name='rating' #rating="ngModel" id= "rating" type="number" class="form-control" min="0" max="5">
            <div class="alert alert-danger" *ngIf=" rating.invalid && rating.touched" >
                <div *ngIf="  rating.errors.required"  > rating  required</div>

            </div>
       </div>



         <div class="form-group">
            <label for="laboratory">Laboratory</label>
            <input
            required
            ngModel name='laboratory' #laboratory="ngModel" id= "laboratory" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" laboratory.invalid && laboratory.touched" >
                <div *ngIf="  laboratory.errors.required"  >  Laboratory required</div>

            </div>

         </div>
         <div class="form-group">
            <label for="form">Form</label>
            <input
             name="form"
            required
            ngModel #form="ngModel" id= "form" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" form.invalid && form.touched" >
                <div *ngIf="  form.errors.required"  >  Form required</div>

            </div>

         </div>
         <br/>
         <ng-multiselect-dropdown
         name='pharmacies'
         [placeholder]="'Chose pharmacies'"
         [settings]="dropdownSettings"
         [data]="dropDownlList"

         (onSelect)="onItemSelect($event)"
         (onSelectAll)="onSelectAll($event)"
       >
       </ng-multiselect-dropdown>
       <br/>
         <div class="form-group">
             <label for="description">Description</label>
             <textarea
             required
             ngModel name='description' #description="ngModel"  type="text" class="form-control" id="description" cols="30" rows="5" >
            <div class="alert alert-danger" *ngIf=" description.invalid && description.touched" >
                <div *ngIf="  description.errors.required"  >  desciption required</div>

            </div>


             </textarea>
         </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="presentation">Presentation</label>
          <input
          required
          ngModel name='presentation' #presentation="ngModel" id= "presentation" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf=" presentation.invalid && presentation.touched" >
              <div *ngIf="  presentation.errors.required"  > presentation required</div>

          </div>
         </div>
          <div class="form-group">
            <label for="specification">Specification</label>
            <input
            required
            ngModel name='specification' #specification="ngModel" id= "specification" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf=" specification.invalid && specification.touched" >
                <div *ngIf="  specification.errors.required"  > specification required</div>
            </div></div>
            <div class="form-group">
              <label for="DurationOfConversation">DurationOfConversation</label>
              <input
              required
              ngModel name='DurationOfConversation' #DurationOfConversation="ngModel" id= "DurationOfConversation" type="text" class="form-control">
              <div class="alert alert-danger" *ngIf=" DurationOfConversation.invalid && DurationOfConversation.touched" >
                  <div *ngIf="  DurationOfConversation.errors.required"  > duration of conversation required</div>
              </div></div>
        <div class="form-group">
            <label for="path">Image Path</label>
            <input   [(ngModel)]="imageSrc" name='path' id= "path" type="text" class="form-control">

            <img class="img-thumbnail m-2" [src]="imageSrc" alt="" >
         </div>

         <div class="form-group">
             <label for="publicPrice">Public Price</label>
             <input  ngModel name='publicPrice' id="publicPrice" type="number" class="form-control">


         </div>

        <div class="form-check">
          <label class="form-check-label">
            <input ng-model="template.disabled"
            ng-init="template.disabled=false" [(ngModel)]="isPromotion" type="checkbox" class="form-check-input" name="isPromotion" id="isPromotion" value="isPromotion">
            is promotion !
          </label>
        </div>
        <br/>
        <div *ngIf="isPromotion" class="form-group">
            <label for="publicPrice">New Price</label>
            <input   ngModel name='newPrice' id="newPrice" type="number" class="form-control">
        </div>
        <br/>
        <div class="form-check">
            <label class="form-check-label">
              <input ng-model="template.disabled"
              ng-init="template.disabled=false" [(ngModel)]="isBestSelling"  type="checkbox" class="form-check-input" name="isBestSelling" id="isBestSelling" value="isBestSelling">
              is best selling !
            </label>
          </div>
          <br/>
      </div>
    </div>



<br/>
    <button
    [disabled] ="AddFormulaire.invalid"
    class="btn btn-primary"
    (click)="addProduct(AddFormulaire)"
    >
    Submit
   </button>

</form>
  </div>
