<!--

<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-md-10">
            <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
     </div>
</div>
</div>
 -->




<!--

 <section class="main-content">
    <div class="container">
        <h3>All Products</h3>



        <table class="table">
            <thead>
                <tr>
                    <th>All Products</th>

                    <th>Contact</th>
                    <button type="button"  (click)="goToForm()"  class="btn btn-success mt-4 text-white"><i class="icon-cart-add mr-2"></i> Add new Product</button>
                </tr>
            </thead>
            <tbody>
                <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
            </tbody>
        </table>
    </div>
</section> -->
<div class="container-fluid" >
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-5">
                        <h2> Product  <b>Management</b></h2>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <input type="text"  [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter the Product Name">

                    </div>

                    <div class="col-3 d-flex justify-content-end">
                        <button href="#"  (click)="goToForm()"class="btn btn-primary">Add new Product</button>

                    </div>
                </div>
            </div>
            <table mbTable class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>Product details</th>


                        <th>Quantity </th>
                        <th>Date</th>
                        <th>Promotion</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mbTableCol *ngFor="let myProduct of products | paginate :{itemsPerPage:8 , currentPage:p};">
                      <th  (click)="goToUpdate(myProduct?.id) "> <img src={{myProduct?.path}} class="avatar" alt=""> {{myProduct?.name}} </th>
                      <td>50 Paquets</td>
                      <td>May 26 , 2019</td>
                      <td  *ngIf="myProduct?.isPromotion">
                        <span class="badge badge-success" >{{myProduct?.newPrice}}new price</span>
                      </td>
                      <td  *ngIf="!myProduct?.isPromotion">
                        <span
                        class="badge badge-danger pl-3 pr-3 pt-1 pb-1"
                        >No
                        </span>
                      </td>
                      <td>
                        <button type="button" (click)="removeproduct(myProduct?.id)"
                        class="btn btn-danger w-100"><i class="icon-cart-add mr-2"></i>
                        Delete
                        </button>
                      </td>
                  </tr>
               </tbody>

        </table>
    </div>

</div>     




