<!-- 
 
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-md-10">
            <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
     </div>
</div>
</div>
 -->




<!-- 

 <section class="main-content">
    <div class="container">
        <h3>All Products</h3>
        
        

        <table class="table">
            <thead>
                <tr>
                    <th>All Products</th>
                    
                    <th>Contact</th>
                    <button type="button"  (click)="goToForm()"  class="btn btn-success mt-4 text-white"><i class="icon-cart-add mr-2"></i> Add new Product</button>
                </tr>
            </thead>
            <tbody>
                <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
            </tbody>
        </table>
    </div>
</section> -->
<div class="container-fluid" >
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-5">
                        <h2> Product  <b>Management</b></h2>
                    </div>
                    <div class="col-7 d-flex justify-content-end">
                        <button href="#"  (click)="goToForm()"class="btn btn-primary">Add new Product</button>
                  				
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>						
                        <th>Date Created</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let myProduct of products">

                        <app-product  [product]="myProduct" ></app-product>
                    </tr>
                
            </tbody>
        </table>
       
    </div>
</div>        
</div>     