<!--

<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-md-10">
            <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
     </div>
</div>
</div>
 -->




<!--

 <section class="main-content">
    <div class="container">
        <h3>All Products</h3>



        <table class="table">
            <thead>
                <tr>
                    <th>All Products</th>

                    <th>Contact</th>
                    <button type="button"  (click)="goToForm()"  class="btn btn-success mt-4 text-white"><i class="icon-cart-add mr-2"></i> Add new Product</button>
                </tr>
            </thead>
            <tbody>
                <app-product *ngFor="let myProduct of products" [product]="myProduct" ></app-product>
            </tbody>
        </table>
    </div>
</section> -->
<div class="container-fluid" >
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-5">
                        <h2> Product  <b>Management</b></h2>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <input type="text"  [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Enter the Product Name">

                    </div>

                    <div class="col-3 d-flex justify-content-end">
                        <button href="#"  (click)="goToForm()"class="btn btn-primary">Add new Product</button>

                    </div>
                </div>
            </div>
            <table mbTable class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>Product details</th>


                        <th>Quantity </th>
                        <th>Date</th>
                        <th>Promotion</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mbTableCol *ngFor="let myProduct of products">
                      <th  (click)="goToUpdate(myProduct?.id) "> <img src={{myProduct?.path}} class="avatar" alt=""> {{myProduct?.name}} </th>
                      <td>--</td>
                      <td>{{myProduct?.createdAt | date}}</td>
                      <td  *ngIf="myProduct?.isPromotion">
                        <span class="badge badge-success" >{{ {oldPrice:myProduct?.publicPrice , newPrice:myProduct?.newPrice} | myPercent }}%</span>
                      </td>
                      <td  *ngIf="!myProduct?.isPromotion">
                        <span
                        class="badge badge-danger pl-3 pr-3 pt-1 pb-1"
                        >No
                        </span>
                      </td>
                      <td>
                        <button (click)="selectProduct(myProduct)" type="button" class="btn btn-danger ml-3 mr-3 mt-3" data-toggle="modal" data-target="#deleteProductModal"
                        class="btn btn-danger w-100"><i class="icon-cart-add mr-2"></i>
                        Delete
                        </button>
                      </td>

                      <!-- <div class="modal fade" id="myProduct?.id" tabindex="-1" role="dialog" aria-labelledby="myProduct?.id+Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"><b>Delete</b></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you wanna delete   this product  <b>{{myProduct?.name}}</b>   ?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeproduct(myProduct?.id)" >Confirm</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div> -->
                  </tr>
               </tbody>

        </table>
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><b>Delete</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you wanna delete   this product  <b>{{selectedProduct?.name}}</b>   ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeproduct()" >Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>




