
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Pharmavie </div>
      <div class="list-group list-group-flush">
        <a routerLink="/productList" routerLinkActive="active"class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="/form" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Add product</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">Overview</a>

      </div>
    </div>

  
  
