

   
        <th scope="row">1</th>
        <th><a href="#"><img src={{product?.path}} class="avatar" alt="Avatar"> Michael Holz</a></th>
        <td>04/10/2013</td>                        
        <td>{{product?.form}}</td>
        <td>{{product?.description}} </td>
        <td>{{product?.publicPrice}} DT</td>
        <td>
            <button type="button" (click)="removeproduct(product?.id)"  class="btn btn-danger mt-4 text-white"><i class="icon-cart-add mr-2"></i> Delete Product</button>

        </td>


        